In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style
import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv('C:/Users/HOANG NAM/Desktop/Khai th√°c DL/lab2/bai4.csv')
df.head(10)

  TID       Items
0  T1  A, B, C, D
1  T2     A, B, C
2  T3     A, B, C
3  T4     A, B, D
4  T5        A, B
5  T6     A, C, D
6  T7        A, D
7  T8     B, C, D

In [2]:
df["A"] = 0
df["B"] = 0
df["C"] = 0
df["D"] = 0

In [3]:
for i in range(8):
    a = df.iloc[i,1].split(", ")
    for j in a:
        df.ix[i,j] = 1

In [4]:
df = df.drop(['Items'],axis=1)
df = df.drop(['TID'],axis=1)
df.head(10)

   A  B  C  D
0  1  1  1  1
1  1  1  1  0
2  1  1  1  0
3  1  1  0  1
4  1  1  0  0
5  1  0  1  1
6  1  0  0  1
7  0  1  1  1

In [5]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
itemsets = apriori(df, min_support = 0.126, use_colnames=True)

In [16]:
itemsets.head()

   support itemsets
0    0.875      (A)
1    0.750      (B)
2    0.625      (D)
3    0.625      (C)
4    0.625   (B, A)

In [8]:
rules = association_rules(itemsets, metric="confidence", min_threshold=0.8)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(B),(A),0.750,0.875,0.625,0.833333,0.952381,-0.031250,0.750
1,(C),(A),0.625,0.875,0.500,0.800000,0.914286,-0.046875,0.625
2,(D),(A),0.625,0.875,0.500,0.800000,0.914286,-0.046875,0.625
3,(C),(B),0.625,0.750,0.500,0.800000,1.066667,0.031250,1.250

In [9]:

rules["antecedents"] = rules["antecedents"].apply(lambda x: list(x)[0]).astype("unicode")
rules["consequents"] = rules["consequents"].apply(lambda x: list(x)[0]).astype("unicode")
for i in range(len(rules)):
    print(rules.loc[i,'antecedents'],'==>',rules.loc[i,'consequents'],
         '[',rules.loc[i,'support'],',',rules.loc[i,'confidence'],']')

B ==> A [ 0.625 , 0.8333333333333334 ]
C ==> A [ 0.5 , 0.8 ]
D ==> A [ 0.5 , 0.8 ]
C ==> B [ 0.5 , 0.8 ]

In [13]:
from mlxtend.frequent_patterns import fpgrowth
itemsets = fpgrowth(df, min_support=0.126, use_colnames=True)
itemsets.head()

   support itemsets
0    0.875      (A)
1    0.750      (B)
2    0.625      (D)
3    0.625      (C)
4    0.625   (B, A)

In [14]:
rules = association_rules(itemsets, metric="confidence", min_threshold=0.8)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(B),(A),0.750,0.875,0.625,0.833333,0.952381,-0.031250,0.750
1,(D),(A),0.625,0.875,0.500,0.800000,0.914286,-0.046875,0.625
2,(C),(B),0.625,0.750,0.500,0.800000,1.066667,0.031250,1.250
3,(C),(A),0.625,0.875,0.500,0.800000,0.914286,-0.046875,0.625

In [15]:
rules["antecedents"] = rules["antecedents"].apply(lambda x: list(x)[0]).astype("unicode")
rules["consequents"] = rules["consequents"].apply(lambda x: list(x)[0]).astype("unicode")
for i in range(len(rules)):
    print(rules.loc[i,'antecedents'],'==>',rules.loc[i,'consequents'],
         '[',rules.loc[i,'support'],',',rules.loc[i,'confidence'],']')

B ==> A [ 0.625 , 0.8333333333333334 ]
D ==> A [ 0.5 , 0.8 ]
C ==> B [ 0.5 , 0.8 ]
C ==> A [ 0.5 , 0.8 ]